
* body {
    padding: 0;
    box-sizing: border-box;
 
  }
  
 
.click {
    padding: 3px 11px;
    margin-top: -150%;
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
   background-image: url(./imagenes/45e46f49fb55a01ba4e4685d985abf48.gif);
   background-size: 120%;
    box-shadow: 1px 1px 30px -5px#a6a6a6; 
    cursor: pointer;
    margin-left: 81%;
    border-radius: 50%;
    background-color: #4a4a4a;
  }
  
  .melodia{
    color: #ffffff;
  }



  
  
  .portada{
    width: 100%;
    margin-top: -5%;
  }
    
  .audio{
    width: 35%;
    height: 20px;
    margin-left: -70%;
    background-color:  #ffffff;
    color: #3d3d3d;
    margin-top: -48%;
    
}

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    

      .cuenta-regresiva {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 1em;
        padding: 0.3em;
        margin-top: -3%;
    }
    
  .portada{
    width: 100%;
  }
    
  .fondo{
    width: 100%;
    margin-top: 12%;
  }
    .cr-time > span {
        font-size: 30px;
        font-weight: bold;
        color: #8b202a;
        font-family: 'Julius Sans One', sans-serif;
        
    }
    .cr-desc {
        color: #000000;
        font-weight: 600;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 15px;
        
    }
    .cr-block {
        border-radius: 5px;
        padding: 0.1em 0.2em;
      
    }
    .Play{
    
      font-family: 'Julius Sans One', sans-serif;
      font-size: 12px;
      text-align: center;
      margin-top: 10%;
      color: #515051;
     
     }
      h5{
      font-size: 15px;
      text-align: center;
      margin-top: -5%;
      
      
      }
    
    
    .segundo{
  width: 17%;
  margin-top: -25%;
  margin-left: 68%;
    }
  
    
 


    .parrafo1{
      text-align: center;
      font-family: 'Julius Sans One', sans-serif;
           font-size: 20px;
           color: #888888;
           font-weight: 600;
           margin-top: 20%;
    }
  .seccion-fiesta{
    margin-top: -190%;
  }
  .seccion-regalo{
    margin-top: 5%;
  }
  .slide {
  animation: subir 1s ease forwards;
  transform: translateY(20px);
  opacity: 0;

    text-align: center;
    font-size: 25px;
    color: #060606;
    margin-top: 5%; 
    font-family: "Arsenal SC", sans-serif;
    font-weight: 500;


}

@keyframes subir {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


  .fiesta{
    text-align: center;
    font-size: 34px;
    color: #8b202a;
    margin-top: 2%; 
    margin: 20%;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 500;
      animation: colores 3s infinite;
  }
@keyframes colores {
  0% { color: rgb(119, 38, 38); }
  33% { color: rgb(130, 130, 130); }
  66% { color: rgb(4, 4, 4); }
  100% { color: rgb(210, 28, 28); }
}


  .fiestaregalo{
    text-align: center;
    font-size: 33px;
    color: #787878;
    margin-top: -15%; 
    margin: 20%;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
  }
  .copas{
    width: 20%;
    margin-left: 36%;
    margin-top: -12%;
    
  }
  
  
  .parrafodos{
    text-align: center;
    font-size: 25px;
    color: #020202;
    margin-top: -1%; 
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
         
  }
  
    
   

    .ubicacion {
      padding: 2px 10px;
      font-family: "Arsenal SC", sans-serif;
      margin-top: -20%;
      font-size: 25px;
      font-weight: 400;
      border: none;
      border-radius: 20px;
      color: #ffffff;
     background-size: 80%;
      box-shadow: 1px 1px 30px -5px#d2c598; 
      cursor: pointer;

      background-color:#8b202a;
      text-decoration: none;
    }
    .boton{
text-align: center;
margin-top: -5%;
    }
.parrafoDe{
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  margin-top: 12%; 
  margin: 5%;
  font-family: "Arsenal SC", sans-serif;
  font-weight: 500;
  background-image: url(./imagenes/5af1f7230024abf57e8020427471018e.gif);
  background-size:30%;

}
.parrafo3{
  text-align: center;
  font-size: 32px;
  color: #787878;
  margin-top: -7%; 
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
       
}
.final{
  width: 100%;
  
 
}
.franco{
  width: 100%;
margin-top: 15%;
 
}

.click2{
  padding: 2px 10px;
  font-family: "Arsenal SC", sans-serif;
  margin-top: 1%;
  font-size: 25px;
  font-weight: 400;
  border: none;
  border-radius: 20px;
  color: #ffffff;
 background-image: url(./imagenes/5af1f7230024abf57e8020427471018e.gif);
 background-size:80%;
  box-shadow: 1px 1px 30px -5px#d2c598; 
  cursor: pointer;
margin-left: 38%;
  background-color:#0e0e0e ;
  text-decoration: none;
}
.tecla {
  margin-top: -50%;
   margin-left: 50%;
  }
  
  
  .box__copyright {
    max-width: 1200px;
    padding: 18px 7px;
    text-align: center;
    margin-top: 30%;
    background-color: #ffffff;
    font-size: 100%;
  }
  
  .box__copyright p {
    margin-top: -10px;
    color: #c3b1b1;
    font-size: 12px;
    text-align: center;
  }
  
  .box__copyright a {
    text-decoration: none;
    color: #91a891;
  }